@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
body {
    font-family: 'Cinzel Decorative', cursive;
    background: url(https://s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  background: url(https://s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
}

aktuelno {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto 50px;
}

.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
  margin-top: 20px;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.copy {
  font: 1em Georgia, Serif;
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}
.copy p {
  margin: 0 0 1em 0;
}
#leftNews{
    margin-right: 10px;
}
.classWithPad { margin:10px; padding:10px; }